@font-face {
  font-family: "Runalto";
  src: url(../src/assets/FontsFree-Net-Canela-Regular.ttf);
}
.modal {
  transform: translate(-50%, -50%) !important;
}
* {
  scroll-behavior: smooth;
  font-family: "Runalto";
}
.introtext {
  font-family: "Runalto";
}
#scroll-container {
  backface-visibility: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.containerIntro {
  transform: translate(-50%, -50%);
}


